.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blockchainView {
  overflow-x: auto; /* enables horizontal scrolling */
  overflow-y: hidden; /* hides vertical scroll bar */
  display: flex;
  align-items: center;
}

.arrow {
  display: inline-block; /* or inline */
  margin-right: 20px; /* Adjust as needed */
  min-width: 30px;
  max-width: 30px;
  /* other styling */
}

.block-view {
  min-width: 200px;
  max-width: 200px;
}

.hash {
  overflow-wrap: break-word;
}

.chainTitle {
  margin-right: 50px;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.user-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ccc;
}

.balance-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chain-name {
  font-weight: bold;
  margin-right: 10px;
}

.balance {
  /* Additional styling for balance if needed */
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffcc00;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.orders-queue {
  margin-top: 20px;
}

.orders-queue h2 {
  margin-bottom: 10px;
}

.orders-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px; /* Prevents scrollbar overlap */
}

.order-block {
  flex: 0 0 auto; /* Prevent blocks from shrinking */
  background-color: #f0f0f0;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  min-width: 150px; /* Set a minimum width for each block */
  text-align: center; /* Center text inside blocks */
}

/* Optional: style scrollbar for better aesthetics */
.orders-container::-webkit-scrollbar {
  height: 8px;
}

.orders-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
